body {
  position: relative;
  padding-top: 91px;
  text-align: center;
}

.navbar-inverse {
  background-color: #7B479C;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #6B479C;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #6B479C;
}

/* To center the toggle button */
.navbar-toggle {
  margin-top: 25px;
}

/* So that the full menu is displayed without scroll bar */
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 500px;
}

.navbar-brand, .navbar-nav li a {
  line-height: 90px;
  height: 90px;
  padding-top: 0;
}

.jumbotron {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/automate.jpg"); /*Safari 5.1-6*/
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/automate.jpg"); /*Opera 11.1-12*/
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/automate.jpg"); /*Fx 3.6-15*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/automate.jpg");
  background-size: cover;
  height: 400px;
  color: white;
}

.hire-reasons .panel-heading {
  min-height: 40px;
}

#procedure .glyphicon-arrow-down,
#procedure .glyphicon-arrow-up {
  margin: 20px 0;
}

#technology img {
  height: 100px;
}

footer {
  margin-top: 3em;
  background-color: #7B479C;
  color: white;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

/* Need this so that anchors aren't covered up by the navbar */
.jump-target:before {
  content: "";
  display: block;
  height: 90px; /* Should be the same as the navbar height */
  margin: -90px 0 0; /* The first parameter should be the negative of the navbar height*/
}

@media screen and (min-width: 970px) {
  /* Should not have padding on both sides when screen is small */
  nav > .container-fluid {
    padding-right: 100px;
    padding-left: 100px;
  }

  .jumbotron {
    background-position: 0 -200px;
  }

  #help {
    width: 40%;
    margin: 0 auto;
  }

  .panel-heading .row .col-md-10 {
    text-align: left;
  }

  /* Only for desktop screen or else the panels won't stack up on iPad */
  .equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
  }
}